seccion 12/Pokemon Finder Tool.json
{
  "name": "Pokemon Finder Tool",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"name\": \"Pikachu\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "1a662d30-eb4f-4d1b-a01c-6204f61dad5d",
      "name": "Inicio - Datos Entrada"
    },
    {
      "parameters": {
        "url": "=https://pokeapi.co/api/v2/pokemon/{{ $json.name.trim().toLowerCase() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "babe1fbb-da64-498c-a5cb-7f3f404fd159",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "60db2e23-e4d4-4294-96cc-654d0290f5bb",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "9d498a7b-df1d-4ade-8ecf-99b6705c163a",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "05fd7639-6a66-4ead-920f-8b86d795d974",
              "name": "sprites.back_default",
              "value": "={{ $json.sprites.back_default }}",
              "type": "string"
            },
            {
              "id": "c830f417-7ec6-420c-adb5-4f34fac3ab62",
              "name": "sprites.front_default",
              "value": "={{ $json.sprites.front_default }}",
              "type": "string"
            },
            {
              "id": "956bab49-9fac-44c2-a3be-95ddf65e377c",
              "name": "weight",
              "value": "={{ $json.weight }}",
              "type": "number"
            },
            {
              "id": "d3c80fe9-6be0-436c-b595-a3a6f20e618d",
              "name": "types",
              "value": "={{ $json.types.map(item => item.type).map(item => item.name) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        0
      ],
      "id": "8df68fa0-ea2c-4f77-9b4b-cc3df02a7030",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Inicio - Datos Entrada": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "36b245ab-3811-4b77-92b9-6659113c4ad8",
  "meta": {
    "instanceId": "88dd7a0f4810eac54b96b4465bbcec8adbc38bf739d63b0195b306d5f0462838"
  },
  "id": "ludLOiSvVaCaOmhy",
  "tags": []
}