Seccion 14/Protección de Flujos.json
{
  "name": "Protección de Flujos",
  "nodes": [
    {
      "parameters": {
        "path": "company/metrics/:company-id",
        "authentication": "jwtAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        768,
        304
      ],
      "id": "2b52588e-fe3c-45a2-b2c2-e5345a0b774b",
      "name": "Webhook",
      "webhookId": "afc8b025-1e6a-4878-801b-ca6a75610233",
      "credentials": {
        "jwtAuth": {
          "id": "4PJgeXXcoyUxtFsT",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"comapyId\":\"{{ $json.params['company-id'] }}\",\n  \"sales\": 3452231,\n  \"items\": 332125,\n  \"users\": 2332,\n  \"clients\": 3345,\n  \"conversionRate\": 4.7,\n  \"revenue\": 982345.55,\n  \"activeSessions\": 189,\n  \"newUsersToday\": 42,\n  \"topProduct\": {\n    \"id\": \"PRD-9845\",\n    \"name\": \"Wireless Noise-Cancelling Headphones\",\n    \"unitsSold\": 14231,\n    \"revenue\": 213456.78\n  },\n  \"traffic\": {\n    \"today\": 5432,\n    \"thisWeek\": 38765,\n    \"thisMonth\": 152347\n  },\n  \"lastUpdated\": \"2025-08-27T12:45:00Z\",\n  \"payload\": {{ $json.jwtPayload.toJsonString() }}\n  \"roles\": {{ $json.jwtPayload.roles.toJsonString() }}\n}\n ",
        "includeOtherFields": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        304
      ],
      "id": "e3ef10f3-4c69-4569-87ad-4020f7959ceb",
      "name": "Retornar información"
    },
    {
      "parameters": {
        "content": "# ¿Qué tipo de autenticación debo usar?\n\n### ¿El servicio externo ya soporta un método de autenticación específico?\n- **Sí** → Usa el que soporten.\n- **No** → Sigue leyendo.\n\n### ¿Necesitas acceso con tiempo limitado o metadatos del usuario?\n- **Sí** → Usa **JWT**.\n- **No** → Sigue leyendo.\n\n### ¿Estás usando una API key o token simple?\n- **Sí** → Usa **Header Auth**.\n- **No** → Sigue leyendo.\n\n### ¿El servicio soporta HTTP Basic Auth estándar?\n- **Sí** → Usa **Basic Auth**.\n- **No** → Usa **Header Auth** (más flexible).\n\n---\n\n## Ejemplos del mundo real:\n\n- **Basic Auth:**  \n  Conexión a sistemas empresariales como **Jira**, **Jenkins**, o sistemas **CRM** antiguos.\n\n- **Header Auth:**  \n  Integración con APIs modernas como **Slack**, **Discord**, o aplicaciones personalizadas que usan API keys.\n\n- **JWT:**  \n  Creación de **microservicios**, **backends de apps móviles**, o sistemas que requieren **permisos específicos por usuario**.\n\n\n\n\nEsta lista de puntos fue idea de: [Nate Herk | AI Automation](https://www.youtube.com/watch?v=3FfCRbq3XMs)\n",
        "height": 880,
        "width": 720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a98319e6-43f7-4c83-aa88-845f40b996a9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1264,
        304
      ],
      "id": "12608fb0-1a25-47e9-a0ad-1690326b124f",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Retornar información",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retornar información": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c34dc411-548f-4ce8-9155-1db8cbb435d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "88dd7a0f4810eac54b96b4465bbcec8adbc38bf739d63b0195b306d5f0462838"
  },
  "id": "32fEbaO6Qp2PRmRV",
  "tags": [
    {
      "name": "security",
      "id": "J0pEy8TLrdzYAfyl",
      "updatedAt": "2026-03-26T19:44:01.228Z",
      "createdAt": "2026-03-26T19:44:01.228Z"
    }
  ]
}